<template>
  <div class="container">
    <p>List from array</p>
    <ul id="list-from-array">
      <li v-for="item in array" :key="item.name">
        {{ item.name }}
      </li>
    </ul>
    <p></p>

    <p>List from object</p>
    <ul id="list-from-object">
      <li v-for="(value, name) in object">{{ name }} : {{ value }}</li>
    </ul>

    <div class="counter">
      <button :disabled="disabledInc" @click.prevent="increment()" id="inc">
        +1
      </button>
      <button :disabled="disabledDec" @click.prevent="decrement()" id="dec">
        -1
      </button>
      
      <div v-if="counter%5==0 && counter!=0">
        <div v-bind:style="{color: dividedByFive}">Counter === {{ counter }}</div>
      </div>
      <div v-else-if="counter%3==0 && counter!=0">
        <div v-bind:style="{color: dividedByThree}">Counter === {{ counter }}</div>
      </div>
      <div v-else>
        <div v-bind:style="{color: dividedByElse}">Counter === {{ counter }}</div>
      </div>

      <input v-model="message" @keyup.enter="newCounter()" type="number"
        min="0" max="20" autofocus required />

    </div>
  </div>
</template>

<style>
#inc {
  background: green;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
#dec {
  background: red;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
input {
  background: white;
  width: 100px;
  border-radius: 10px;
}
#enter {
  background: green;
  height: 27px;
  width: 50px;
  border-radius: 10px;
}
.counter{
  margin-top: 30px;
}
</style>

<script>
import Vue from "vue";
import Component from "nuxt-class-component";

export default
@Component({
  components: {},
  methods: {
    increment: function () {
      this.counter += 1;
    },
    decrement: function () {
      this.counter -= 1;
    },
    newCounter: function () {
      this.message = +this.message;
      this.message <= 20 && this.message >= 0
        ? (this.counter = this.message)
        : alert("number should be between 0 and 20");
      
      this.message = " ";
    },
  },
  computed: {
    disabledInc: function () {
      return this.counter >= 20 ? true : false;
    },
    disabledDec: function () {
      return this.counter <= 0 ? true : false;
    },
  },
})
class IndexPage extends Vue {
  array = [{ name: "Apple" }, { name: "Orange" }, { name: "Banana" }];

  object = {
    name: "object",
    value: 340,
    visibility: true,
  };

  counter = 0;
  dividedByFive = 'green';
  dividedByThree = 'red';
  dividedByElse = 'white';

}
</script>


